/* Profile Box */
.profile-box {
  display: flex;
  flex-direction: column;
  width: 223px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 2px var(--shadow-2);
}
.profile-box .profile-img {
  width: 100%;
  height: 223px;
  object-fit: cover;
}
.profile-box .user-name {
  font-size: 1.0625rem;
  font-weight: 600;
  color: #050505;
  padding: 8px 8px 3px 8px;
}
.profile-box .mutual-friends {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 8px 3px 8px;
}
.profile-box .mutual-friends span {
  font-size: 0.9375rem;
  font-weight: 400;
  color: #65676b;
}
.profile-box .mutual-friends img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-box .buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 8px;
}
.profile-box .buttons button {
  font-size: 0.9375rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  margin: 0 8px 0 8px;
  height: 35px;
  cursor: pointer;
}
.profile-box .buttons .confirm {
  background-color: #1b74e4;
  color: #ffffff;
}
.profile-box .buttons .confirm:hover {
  background-color: #1a6ed8;
}
.profile-box .buttons .add-friend {
  background-color: #e7f3ff;
  color: #1877f2;
}
.profile-box .buttons .add-friend:hover {
  background-color: #dbe7f2;
}
.profile-box .buttons .cancel {
  background-color: #e4e6eb;
  color: #050505;
}
.profile-box .buttons .cancel:hover {
  background-color: #d8dadf;
}
